.all{
    margin-top: 10px;
    margin-left: 10px;
}

.subtitle{
    margin-left: 10px;
}

.texto{
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
}

#espaco-card{
    padding: 10px;
}

.espaco{
    padding: 10px;
}