.all{
    margin-top: 10px;
    margin-left: 20px;
}

.subtitle{
    margin-left: 10px;
}

.img-home {
    height: 200px;
    width: 360px;
    margin-left: 20px;
}

.texto{
    margin-left: 20px;
    margin-right: 20px;
    text-align: justify;
}

#espaco-card{
    padding: 10px;
}

.espaco{
    padding: 10px;
}